body {
	background-color: #d1d1e0;
}
img {
	display: inline;
	margin: 0 auto;
	height: 100%;
	width: auto;
}
.top {
	clear: both;
}
.headshot {
	border-radius: 50%;
}
#top-bar {
	background-color: #00ffff;
	margin: none;
}
#body {
	text-align: center;
}
