body {
	background-color: #d1d1e0;
}
img {
	display: inline;
	margin: 0 auto;
	height: 100%;
	width: auto;
}
#top-bar {
	background-color: #00ffff;
	display: table-row;
}
#headshot-container {
	width: 100px;
	height: 100px;
	position: relative;
	overflow: hidden;
	border-radius: 50px;
}
#body {
	text-align: center;
}
